
// .poppins-thin {
    //     font-family: "Poppins", sans-serif;
    //     font-weight: 100;
    //     font-style: normal;
    //   }
    
    
@use 'vars';


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px minmax(calc( 100vh - 64px), auto);
    color: vars.$primaryColor;
}

img{
    max-width: 100%;
}

.main__nav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    padding-bottom: 20px ;
    position: sticky;
    top: 0;

    &__link{
        padding-left: vars.$defaultPadding;
        padding-top: vars.$defaultPadding;
        display: inline-block;
        color: vars.$secondColor;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.5rem;
    }

    &__menus{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        &__item{

            li{
                margin-top: 1em;
                padding: .4em;

                &:hover{
                    background-color: vars.$colorDetails;
                    cursor: pointer;
                    border-radius: 4px;

                    a{
                        color: white;
                    }
                    svg{
                        fill: white;
                        stroke: white;
                    }
                }
            }
        }
    }
}


.main__nav__menus__item,
.top__nav__menu{
    list-style: none;
    padding-left: vars.$defaultPadding;
    padding-top: vars.$defaultPadding;
}

.main__nav__menus__item a,
.top__nav__menu a{

    text-decoration: none;
    color: vars.$primaryColor;
    svg{
        margin-right: 10px;
    }
}


.top__nav{
    grid-column: 2 / -1;
    grid-row: 1 / 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &__menu{
        display: flex;
        align-items: center;
        gap: vars.$defaultPadding;
    }
}

.main__nav svg,
.top__nav svg{
    vertical-align: middle;
}

.perfil{
    margin-right: vars.$defaultPadding;
    display: flex;
    align-items: center;
    gap: 15px;

    &__thumb{
        width: 60px;
        padding-top: .9rem;
        // padding-bottom: .9rem;

        img{
            width: 100%;
        }
    }

    &__name{
        font-size: .8rem;
        font-weight: 600;
        color: vars.$secondColor;
    }
    &__rule{
        font-size: .7rem;
        font-weight: 500;
        text-transform: uppercase;
    }
}


main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;

    display: grid;
    gap: vars.$defaultPadding;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: auto;

    padding: vars.$defaultPadding;

    .summary{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:vars.$defaultPadding;

        article{
            padding: calc(vars.$defaultPadding / 2) 0;
        }

        &__number{
            color: vars.$colorDetails;
            font-size: 1.2rem;
            font-weight: 600;
            margin-left: calc(vars.$defaultPadding / 2) ;
        }

        &__separated{
            width: 2px;
            background-color: vars.$primaryColor;
            align-items: stretch;
        }

        &__btn{
            background-color: vars.$colorDetails;
            color: white;
            text-decoration: none;
            padding: calc(vars.$defaultPadding / 2) vars.$defaultPadding;
            border-radius: 8px;
        }
    }

    .grid-half{
        grid-column: 1 / 1;
    }

    .grid-half2{
        grid-column: 2 /-1;
    }
}

main > *{
    grid-column: 1 / -1;
}



